# NEXT_PUBLIC_ prefix required because this
# common config available to the client side too
# and compose.yml itself for interpolation

NEXT_PUBLIC_API_HOSTNAME=localhost
NEXT_PUBLIC_API_PORT=81

NEXT_PUBLIC_WEB_HOSTNAME=localhost
NEXT_PUBLIC_WEB_PORT=80

COMPOSE_PROFILES=internalDatabase

# Make the Gin HTTP framework runs in debug mode
# Use release as value to run in release/production mode
GIN_MODE=debug

# Run Next.js in developer mode instead
# production mode, unset or put 0 to run in
# (or any non 1 value) to run in production mode
DEV_MODE=1


