# Will be filled stuffs for backend like, database IP and port
# and password/username for database

# Make the Gin HTTP framework runs in debug mode
# Use release as value to run in release/production mode
GIN_MODE=debug

