# Changing the password need to either
# manually udpate one in container or
# deleting all the data, it only used
# on first time database started

POSTGRES_USER=app
POSTGRES_PASSWORD=please_replace_me
POSTGRES_DB=EmployeeApp

# IF hosting own, make sure its same
# with one in composer.yml for hostname
# its docker alias
DATABASE_HOSTNAME=database
DATABASE_PORT=5432
