# Changing the password need to either
# manually udpate one in container or
# deleting all the data, it only used
# on first time database started

DATABASE_USER=app
DATABASE_PASSWORD=please_replace_me
DATABASE_NAME=EmployeeApp

DATABASE_HOSTNAME=db
DATABASE_PORT=3306

# This password is used for root account
# for managing the database, if starts own
# database instead reusing existing one
DATABASE_ROOT_PASSWORD=please_replace_me_2

