# Will be filled stuffs for frontend/web like Google analytics
# stuffs that shouldnt be readable by other services and host port

# Run Next.js in developer mode instead
# production mode
DEV_MODE=1

