.content {
  padding: 4px;
  border-left: 2px solid black;
  vertical-align: top;
}

.filler {
  flex: 1;
}

.dividerTable {
  border-collapse: collapse;
  height: 100%;
}

.sideMenu {
  border-right: 2px solid black;
  vertical-align: top;
  min-width: 100px;
  width: 15%;
}


